<header>
	<div id="tag-line">
		Granting wishes. Airtime in six seconds or less...
	</div>
	<%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
	<nav id="sub_nav">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Account", account_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact Us", contact_path %></li>
			<li><%= link_to "FAQs", faq_path %></li>
		</ul>
	</nav>
</header>